.latestupdate{
  line-height: 1;
  /*border-bottom: 1px solid #e5e5e5;*/
  min-height: 35px;
}

#trending-now{
	  float: left;
    background-color: #cc0000;
    color: white;
    font-family: 'Lato', sans-serif;
    padding: 4px 6px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 2px 0 0 2px;
    height: 25px;
    /*width: 10%;*/
}

#marquee{
	border-radius: 0 2px 2px 0;
	margin-right: 0px;
	color: black;
	height: 25px;
  float: left-right;
  display: flex;
  /*width: 90%;*/
}
#updates{
    border: 2px solid #093d63;
    padding: 3px;
}